html
	title Weather-Project
	head
		include partials/head
	body.jquery-ui
		div#menuBar.menu(align="center")
			div#menuButtons.menu
				button(onclick='dataButtons.placeHolderAlert()') Pull from NOAA.
				- for(x=2;x<6;x++){
					button(onclick='dataButtons.placeHolderAlert()') Button #{x}
				- }
				p
		div#noaaDataForm.form
			form#data-form.form(onsubmit="dataButtons.showValues()")
				input.endPoint(name="endPoint", value="data?", type="hidden")
				table#formTable.table
					div#form-div1.column
						th Datasets
						th Datatypes
						th LocationId
						th StationId
						th Date Range
						th Options
						tr
						td
							-var dSL ={dS1:"GHCND", dS2:"GHCNDMS"}
							p 
								select.queryString(name="datasetid", multiple="multiple", required)
									option(value="#{dSL.dS1}") #{dSL.dS1}
									option(value="#{dSL.dS2}") #{dSL.dS2}
						td
							div#div-form-datatype.column
								- var dTL = {dT1:"TMAX", dT2:"TMIN", dT3:"PRCP"}
								p  
									select.queryString(name="datatypeid", multiple="multiple")
										option(value="#{dTL.dT1}") #{dTL.dT1}
										option(value="#{dTL.dT2}") #{dTL.dT2}
										option(value="#{dTL.dT3}") #{dTL.dT3}
						td
							div#div-form-locationid.column
								input#station_texas.queryString(type="radio", name="locationid", value="FIPS:48", onClick='formActions.radioSelection(48)')
								label(for="station_texas") Texas Stations
								p
								input#station_alabama.queryString(type="radio", name="locationid", value="FIPS:01", onClick='formActions.radioSelection(01)')
								label(for="station_alabama") Alabama Stations
						td
							div#div-form-stationid.column
								input#stationBox1.queryString(type="checkbox", name="stationid", value="")
								label(for="stationBox1") 
								p
								input#stationBox2.queryString(type="checkbox", name="stationid", value="")
								label(for="stationBox2") 
						td
							div#div-form-daterange.column
								label(for="startDate") <b>Start Date:</b>
								input#startDate.queryString(name="startdate", type="date", min="1970-01-01", max="2014-12-31", required)
								p
								label(for="endDate") <b>End Date:</b>
								input#endDate.queryString(name="enddate", type="date", min="1970-01-01", max="2014-12-31", required)
						td
							div#div-form-options.column
						tr
						td(style = 'border: 0 solid;')
							input(type="submit" name="dataSubmit" value="submit" onsubmit="dataButtons.showValues()")

		div#append-here.output-box
